# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp


# IDE settings
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Other unnecessary files
*.bak
*.swp

# Avatar model files and data

lip-sync/ref_audio/
lip-sync/*.txt
lip-sync/*.log

# Backend generated avatars
!backend/static/avatars/.gitkeep

# TTS files


# LLM checkpoints
llm/checkpoints.db

# Large model files
*.pth
*.onnx
*.zip
